<h1>Login Page</h1>
<form action="" method="post">
  <div>
    <label for="">Email</label>
    <input type="text" name="email" placeholder="Email" />
    <p style="color: red"><%= getError(errs, "email") %></p>
  </div>

  <div>
    <label for="">Password</label>
    <input type="password" name="Password" placeholder="Password" />
    <p style="color: red"><%= getError(errs, "password") %></p>
  </div>

  <div>
    <button>Log In</button>
  </div>
</form>
