<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <!-- css -->
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <header>
      <h2>HEADER</h2>
    </header>

    <main><%- body%></main>

    <footer>
      <h2>FOOTER</h2>
    </footer>
  </body>
</html>
