<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express-Mongo</title>
    {{! font-awesome }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />

    {{! favicon }}
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon.png"
    />

    {{! css }}
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="header__layout">
          <a href="/" class="header__title">MongoDB Demo</a>
          {{#if (eq role "Admin")}}
            {{#if username}}
              <nav class="header__nav">
                <div class="nav__item">
                  <a href="/product" class="nav__link">Products</a>
                </div>
                <div class="nav__item">
                  <a href="/category" class="nav__link">Category</a>
                </div>
              </nav>
            {{/if}}
          {{/if}}

          {{#if username}}
            <div class="header__actions">
              <p class="header__name">Hello,
                {{username}}
              </p>
              <a href="/signout" class="btn btn--signout">Sign Out</a>
            </div>
          {{else}}
            <div class="header__actions">
              <a href="/signin" class="btn btn--signin">Sign In</a>
              <a href="/signup" class="btn btn--signup">Sign Up</a>
            </div>
          {{/if}}
        </div>
      </div>
    </header>
    <main class="main">
      {{{body}}}
    </main>

    <script src="/js/script.js"></script>
  </body>

</html>