<form action="/category/create" method="POST">
  <div class="container">
    <h2 class="form__title">Create new product</h2>
    <div class="form__field">
      <label for="name" class="form__label">Category Name</label>
      <input id="name" type="text" name="name" placeholder="Name" class="form__input" />
    </div>

    <div class="form__field">
      <label for="desc" class="form__label">Description</label>
      <input id="desc" type="text" name="desc" placeholder="Description" class="form__input" />
    </div>

    <div class="form__field">
      <button type="submit" class="form__button">Save</button>
    </div>
  </div>
</form>