<form action="/category/update" method="POST">
  <div class="container">
    <h2 class="form__title">Update Category</h2>
    <div class="form__field">
      <label for="name" class="form__label">Category Name</label>
      <input
        id="name"
        type="text"
        name="name"
        class="form__input"
        value={{categoryData.name}}
      />
    </div>
    <div class="form__field">
      <label for="desc" class="form__label">Category Description</label>
      <input
        id="desc"
        type="text"
        name="desc"
        class="form__input"
        value="{{categoryData.desc}}"
      />
    </div>

    <div class="form__field">
      <button type="submit" class="form__button">Save</button>
    </div>
  </div>
</form>