<h1>Hello World</h1>
<!-- ejs tag -->
<h2><%= title %></h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt tempora vel
  vitae fugit debitis esse sed fugiat maxime nihil. Natus provident ut totam
  animi. Facilis officia nihil fugiat obcaecati accusantium.
</p>

<hr />
<h1>Render an array contain users</h1>
<!-- ejs foreach -->
<% users.forEach(user => { %>
<h3><%= user %></h3>
<% }) %>
