<h1>Add New Category</h1>
<form action="" method="post" class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <input type="text" name="name" class="validate" id="name" />
      <label for="name">Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="text" name="description" class="validate" id="description" />
      <label for="description">Description</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button class="btn green">Add</button>
    </div>
  </div>
</form>